.content{
  overflow-y: scroll;
}

.content .institutions{
  border-bottom: 1px solid black;
}

.content .institutions,
.content .courses {
  padding: 1rem 0;
}


.content .institutions > p,
.content .courses > p{
  text-align: center;
  font-weight: 700;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.content .institutions:first-child{
  margin-top: 20rem;
}

.content .courses:last-child{
  margin-bottom: 5rem;
}
