.content{
  overflow-y: scroll;
}

.content .institutions{
  border-bottom: 1px solid black;
}

.content .institutions,
.content .courses {
  padding: 1rem 0;
}


.content .institutions > p,
.content .courses > p{
  text-align: center;
  font-weight: 700;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.content .institutions:first-child{
  margin-top: 20rem;
}

.content .courses:last-child{
  margin-bottom: 5rem;
}

@media(min-width: 780px) {
  

  .divide {
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-evenly;
  }

  .institutions,
  .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    padding: 0 1rem;
    width: 50%;
  }

  .content .institutions{
    border-bottom: 0;
  }

  .content .courses {
    border-left: 1px solid black;
  }


  .content .institutions:first-child{
    margin-top: 5rem;
  }
}
