:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;

  --primary-color: rgb(0, 255, 234);
}

* {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #ccc;
}